
#RegAcc {
    display: flex;
    flex-direction: column;
    align-items: center;
    position : absolute;
    width : 200px;
    left : calc(50% - 100px);
    top : 60%;
}
.RA {
    margin : 20px;
    width: 250px;
    height : 60px;
    border-radius: 100VW 100vw 100vw 100vw;
    border : none;
}

#R {
    background-color: rgb(56, 195, 237);
}
#A {
    background-color: rgb(230, 230, 230);
}
body {
    background-image: url("../media/Welcome background.png");
}