#FORM {
    position: absolute;
    top : 45%;
    width: 500px;
    left: calc(50% - 250px);
    height: 500px;
}
#myLoginForm {
    display: flex;
    flex-direction: column;
}
#email {
    padding : 18px;
    font-size: 20px;
    position: absolute;
    width : 100%;
    left : 0;
    height: 80px;
    border-radius: 100vw 100vw 100vw 100vw;
}

#password {
    padding : 18px;
    font-size: 20px;
    position: absolute;
    top : 30%;
    left: 0;
    height: 80px;
    width : 100%;
    border-radius: 100vw 100vw 100vw 100vw;
}

#Submit{
    background-color: rgb(47, 79, 204);
    left : 15%;
    padding : 18px;
    font-size: 20px;
    position: absolute;
    top : 60%;
    height: 80px;
    width : 80%;
    border-radius: 100vw 100vw 100vw 100vw;
}

#Ricordami {
    position: absolute;
    top : 90%;
}
label[for="Ricordami"]{
    position: absolute;
    top : 89%;
    left : -15%;
}
#PasswordDimenticata {
    position: absolute;
    right : 0;
    top : 90%;
}

body {
    background-image: url("../media/Login Backgorund.png");
    background-position-y: -100px;
    background-repeat: no-repeat;
    background-size: cover;
}
a {
    color : cyan;
    text-decoration: none;
    font-weight: bold;
}

.bi-eye {
    display: none;
}

.bi-eye-slash, .bi-eye {
    cursor: pointer;
    position: absolute;
    right : 10px;
    height: 30px;
    width : 30px;
    top : calc(50% - 15px);
    z-index: 1;
    color: black;

}
#NoAccount {
    width: 100px;
    left: calc(50% - 80px);
    position: absolute;
    top: 85%;
}
label[for="email"] {
    position: absolute;
    font-size: 20px;
    top :-5%;
    left : 10%
}
label[for="password"] {
    position: absolute;
    font-size: 20px;
    top : 25%;
    left : 10%
}
#passwordLabel {
    position: absolute;
    top : 40%;
    right : 0;
}