#pd {
    position: absolute;
    top : 50%;
}
#description {
    position : absolute;
    top : 60%;
}
#containerEmail {
    position : absolute;
    top : 80%;
    width : 100%;
    height: 80px;
}
#email {
    font-family: Secondary, Noteworthy, serif;
    border-color: rgba(100,100,100,0.2);
    width : 100%;
    height : 100%;
    font-size: 20px;
    padding: 18px;
    border-radius: 100vw 100vw 100vw 100vw;
}
#labelEmail {
    position: absolute;
    font-size: 15px;
    top : -25%;
    left : 5%
}
#container{
    position: absolute;
    left : calc(50% - 300px);
    width: 600px;
    height: 800px;
}
body{
    background-image: url("../media/ForgotPassword Background.png");
    background-size : cover
}
#submitButton{
    box-shadow: 0 10px 6px -6px #777;
    border: none;
    position: absolute;
    left : 15%;
    margin : 30px;
    padding : 20px;
    background-color: aqua;
    width : 60%;
    height: 60px;
    border-radius: 100vw 100vw 100vw 100vw;
}