body {
    background-image: url("../media/Reset Password Background.png");
    background-size: cover;
}
h1{

    position: absolute;
    font-size: 30px;
    color: aquamarine;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    left : 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}