#password {
    font-family: Secondary, Noteworthy, serif;
    border-color: rgba(100,100,100,0.2);
    width : 100%;
    height : 100%;
    font-size: 20px;
    padding: 18px;
    border-radius: 100vw 100vw 100vw 100vw;
}
label[for="Password"] {
    position: relative;
    font-size: 15px;
    top : -25%;
    left : 5%
}
#RP {
    margin : 30px;
}
body {
    background-image: url("../media/Reset Password Background.png");
    background-size: cover;
}

#repeatPassword {
    font-family: Secondary, Noteworthy, serif;
    border-color: rgba(100,100,100,0.2);
    width : 100%;
    height : 100%;
    font-size: 20px;
    padding: 18px;
    border-radius: 100vw 100vw 100vw 100vw;
}
label[for="RepeatPassword"] {
    position: relative;
    font-size: 15px;
    top : -25%;
    left : 5%;
}
#submitButton{
    box-shadow: 0 10px 6px -6px #777;
    border: none;
    position: absolute;
    left : 15%;
    margin : 30px;
    padding : 20px;
    background-color: rgb(56, 195, 237);
    width : 60%;
    height: 60px;
    border-radius: 100vw 100vw 100vw 100vw;
}
#container{
    top: 50%;
    position: absolute;
    left : calc(50% - 300px);
    width: 600px;
    height: 800px;
}