<!doctype html>
{% load static %}
<html lang="it">
<head>
    <link rel="stylesheet" href="{% static "CSS/all.css" %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lernify</title>
    <link rel="stylesheet" href="{% static 'CSS/PasswordDimenticata.css' %}">
</head>
<body>
<div id="container">
<h1 id="pd">Password Dimenticata</h1>
<p id="description">
     Ti invieremo nella tua casella di posta un link per resettare la tua password. Ti preghiamo di inserire la tua email associata al tuo account nel riquadro qua sotto.
</p>
<div id="containerEmail">
    <form action="{% url 'forgot_password' %}" method="post">
    {% csrf_token %}
        {{ form }}
    <button type="submit" id="submitButton">Invia Il Link</button>
    </form>
    </div>
</div>
</body>
</html>