<!doctype html>
<html lang="it">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lernify</title>
    <link rel="stylesheet" href="{%static 'CSS/Home.css'%}">
</head>
<body>
    <div id="NuvolaBlu">
        <svg height="100vh" width="100vw">
            <ellipse class="PincoPalloBlu" rx="40vw" ry="50vh" cx="0" cy="0">
            </ellipse>
            <ellipse class="PincoPalloBlu" rx="60vw" ry="50vh" cx="90vw" cy="0">
            </ellipse>
        </svg>
    </div>
</body>
</html>