{% load static %}
<!doctype html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>lernify</title>
    <link rel="stylesheet" href="{%static 'CSS/Login.css'%}">
    <link rel="stylesheet" href="{%static 'CSS/all.css'%}">
</head>
<body>
<div id="FORM">
    <form action="" id="myLoginForm">
        <input placeholder="Email" type="email" id="Email">
        <input placeholder="Password" type="password" id="Password">
        <button type="submit" id="Submit">Accedi</button>
        <label id="NonTiScordarDiMe">
            <input type="checkbox">
            Ricordaami
        </label>
        <a id="PasswordDimenticata" href="#">Password Dimenticata</a>
    </form>
</div>
</body>
</html>