<!doctype html>
{% load static %}
<html lang="it">
<head>
    <link rel="stylesheet" href="{% static "CSS/all.css" %}">
    <link rel="stylesheet" href="{% static "CSS/ResetPassword.css" %}">
    <script language="javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="container">
    <h1 id="RP">Reimposta Password</h1>
    <form action="{% url 'reset_password' %}">
        {% csrf_token %}
        {{ form }}
    <button type="submit" id="submitButton">Reimposta</button>
    </form>
</div>
</body>
</html>